<!DOCTYPE html>
<html>
<head>
<style>
#include("Velocity/css/style.css")
</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div id ="container">

#if ($logged)
$logged

$test.customerusername

<form action='Logout'>
<input type='submit' value='Logout' />
</form>

#else
$notLogged
<form action='Login'>
<input type='submit' value='Go to login' />
</form>
#end

<br />
<br />


dwlijalijalijwliadjalijdlw

</div>
<p />

</body>
</html>




