<!DOCTYPE html>
<html>
<head>
<style>
#include("Velocity/css/style.css")
</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div id ="container">
$logged

$!{formulier}

<br />
<br />


</div>
<p />

</body>
</html>




